@media screen {
  /* --- Reset Styles --- */
  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  body {
    background-image: url("../images/grass-background.jpg");
    background-attachment: fixed;
    color: rgb(51, 51, 51);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }

  .wrapper {
    background: hsl(85, 37%, 98%);
    margin: 4vh auto 4vh auto;
    max-width: 960px;
    padding: 1vh; /* 18px / 800px */
    width: 85%;
    min-height: 90vh;
    overflow: hidden;
    position: relative;
  }

  .main-content {
    padding-bottom: 1vh;
  }

  li {
    margin-left: 10px;
    padding-bottom: 2px;
  }

  ul {
    padding-bottom: 10px;
  }

  a {
    text-decoration: none;
  }

  h1 {
    padding-bottom: 5px;
    font-size: 35px;
  }

  h2 {
    padding-bottom: 5px;
    font-size: 25px;
  }

  p {
    padding-bottom: 5px;
  }

  #banner {
    font-family: "Smokum", cursive;
    text-align: center;
    font-size: 75px;
    color: hsl(85, 37%, 30%);
    padding-bottom: 10px;
  }

  nav a button {
    display: inline-block;
    width: 24%;
    font-size: 20px;
    height: 100%;
    padding: 5px 0 5px 0;
    background-color: hsl(85, 37%, 30%);
    cursor: pointer;
    outline: none;
    color: hsl(85, 37%, 98%);
  }

  nav {
    text-align: center;
    padding-bottom: 10px;
  }

  a button:hover {
    background-color: hsl(85, 60%, 30%);
  }

  #button-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    padding-left: 10px;
  }

  .update {
    background-color: hsl(85, 37%, 30%);
    font-size: 20px;
    color: hsl(85, 37%, 98%);
    padding: 5px;
  }

  .update:hover {
    background-color: hsl(85, 60%, 30%);
  }

  #main-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  #signed-in-name {
    float: right;
  }

  #horse-header {
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: baseline;
  }

  .horse-link {
    color: hsl(85, 37%, 30%);
  }

  .horse-link:hover {
    color: hsl(85, 100%, 30%);
  }

  i {
    font-size: 50px;
    padding-top: 20px;
  }

  .color-horse-bay {
    color: #be642f;
  }

  .color-horse-white {
    color: #e2e4e4;
  }

  .color-horse-black {
    color: #000000;
  }

  .color-horse-chestnut {
    color: #a0512a;
  }

  .color-horse-brown {
    color: #5c3a2e;
  }

  .color-horse-gold {
    color: #e19758;
  }

  .color-horse-gray {
    color: #696866;
  }

  .color-horse-champagne {
    color: #caab8c;
  }

  .color-horse-cream {
    color: #decfb8;
  }

  .color-horse-roan {
    color: #753d22;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    float: right;
    width: 30%;
  }

  .stable-display {
    padding-top: 10px;
    padding-bottom: 50px;
  }

  footer.branding {
    position: absolute;
    bottom: 1vh;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    min-width: 500px;
  }

  .content,
  .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }
}
