@media screen {
  /* --- Reset Styles --- */
  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  body {
    background-image: url("../images/grass-background.jpg");
    background-attachment: fixed;
    color: rgb(51, 51, 51);
    font-family: Sans-Serif;
  }

  .wrapper {
    background: hsl(85, 37%, 98%);
    margin: 0 auto;
    max-width: 960px;
    padding: 1vh; /* 18px / 800px */
    width: 85%;
    min-height: 98vh;
    overflow: hidden;
  }

  a {
    text-decoration: none;
  }

  nav button {
    display: inline-block;
    width: 25%;
    font-size: 20px;
    height: 100%;
    padding: 5px;
    background-color: hsl(85, 37%, 30%);
    cursor: pointer;
    outline: none;
  }

  nav button a {
    color: hsl(85, 37%, 98%);
  }

  nav {
    text-align: center;
  }

  nav > button:hover {
    background-color: hsl(85, 60%, 30%);
  }

  .horse-link {
    color: hsl(85, 37%, 30%);
  }

  .horse-link:hover {
    color: hsl(85, 100%, 30%);
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    float: right;
    width: 30%; /* 240px / 800px */
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: auto;
  }

  .content,
  .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }
}
