<h1>Create a new horse</h1>

<% redirect_if_not_logged_in %>
  <form action='/horses' method="post">
    <p>Name: <input type="text" name="name" maxlength="18"></p>
    <p>Sex:
    <input type="radio" id="gelding" name="sex" value="Gelding"
         checked>
        <label for="gelding">Gelding</label>
    <input type="radio" id="mare" name="sex" value="Mare">
        <label for="mare">Mare</label>
    <input type="radio" id="stallion" name="sex" value="Stallion">
        <label for="stallion">Stallion</label>
  </p>
    <p>Color:
    <select name = "color">
        <option value = "Appaloosa">Appaloosa</option>
        <option value = "Bay">Bay</option>
        <option value = "Bay Dapple">Bay Dapple</option>
        <option value = "Black">Black</option>
        <option value = "Brown">Brown</option>
        <option value = "Buckskin">Buckskin</option>
        <option value = "Champagne">Champagne</option>
        <option value = "Chestnut">Chestnut</option>
        <option value = "Cream">Cream</option>
        <option value = "Dun">Dun</option>
        <option value = "Flaxen Chestnut">Flaxen Chestnut</option>
        <option value = "Gray">Gray</option>
        <option value = "Grulla">Grulla</option>
        <option value = "Palomino">Palomino</option>
        <option value = "Roan">Roan</option>
        <option value = "Silver Dapple">Silver Dapple</option>
        <option value = "White">White</option>
    </select></p>
    <p>Breed: <input type="text" name="breed" maxlength="40"></p>
    <input type="submit" name="submit" id="submit">
  </form>