<h1>All your horses</h1>
<hr>
<ul><%@user.horses.each do |horse|%>
<li><i class="fas fa-horse color-horse-<%=horse.color_selector%>"></i><a class="horse-link" href="/horses/<%=horse.id%>"><b><%=horse.name%></b></a></li>
<%end%></ul>