<div class="container">
<div id="index-div">
  <h1>Welcome to Cowboy Up!</h1>

  <p>Cowboy Up is a fun stable simulator where you can have as many horses as your heart desires. Enjoy creating new horses to add to your herd, and don't forget to check out all of the other horses at the stable!</p>

  <img id="welcome-image" src="../images/horses-in-field.jpg">
  </div>
</div>
