<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Cowboy Up!</h2>

    <div>
      <p>Cowboy Up is a fun stable simulator where you can own as many horses as your heart desires.</p>
    </div>

        <nav>
    <a href="/login">Login</a> - <a href="/signup">Sign Up</a>
    </nav>

  </div>
</div>
