<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Cowboy Up</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
    <script src="https://kit.fontawesome.com/7cab27a977.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Smokum&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
    <h1 id="banner">Cowboy Up</h1>
        <nav>
    <%if logged_in?%>
    <a href="/horses"><button class="user-nav">Stable</button></a>
    <a href="/users/<%=current_user.id%>"><button class="user-nav">Your Horses</button></a>
    <a href="/horses/new"><button class="user-nav">New Horse</button></a>
    <a href="/logout"><button class="user-nav">Logout</button></a>
    <%else%>
    <a href="/login"><button class="guest-nav">Login</button></a>
    <a href="/signup"><button class="guest-nav">Sign Up</button></a>
    <%end%>
    </ul>
    </nav>
    <div id="main-content">
    <%if logged_in?%>
    <p id="signed-in-name">Signed in as <%=current_user.name%></p>
    <%end%>
        <%= yield %>
    </div>
      <footer class="branding">
        <small>&copy; 2020 <strong>Cowboy Up</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
